@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--window-margin: 30px;
	--mobile-window-margin: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	scroll-behavior: smooth;
}

html {
	background-color: #01080E;
}

#portfolio {
	border-radius: 7px;
	border: 1px solid #1E2D3D;
	overflow: hidden;
	background-color: #011627;
	min-height: calc(100vh - 2 * var(--window-margin));
	display: flex;
    flex-direction: column;
}

body {
	padding: var(--window-margin);
	position: relative;
	color: #607B96;
	background-color: #01080E;
	min-height: 100vh;
}

/* body,
html {
	height: -webkit-fill-available;
	height: -moz-available;
	height: stretch;
	width: -webkit-fill-available;
	width: -moz-available;
	width: stretch;
} */

/* #portfolio,
[data-nextjs-scroll-focus-boundary] {
	display: flex;
	flex-grow: 1;
	min-height: inherit;
} */

#portfolio > [data-nextjs-scroll-focus-boundary] {
	overflow: hidden;
	display: flex;
    flex-grow: 1;
}

[data-nextjs-scroll-focus-boundary] {
	width: 100%;
}

a,
button,
i::before {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.my-resume:hover,
.my-resume:focus,
.my-resume:active {
	color: #FEA55F;
}

#nav a {
	display: flex;
	align-items: center;
	height: 56px;
	position: relative;
	padding: 0 1.75rem;
	border-right: 1px solid #1e2d3d;
}

#desktop-nav > a,
#mobile-nav a {
	border-right: none;
}

#nav a.active {
	color: #fff;
}

#desktop-nav a.active::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #FEA55F;
}

#mobile-nav a {
	@apply border-bot
}
#nav a:hover,
#nav a:focus {
	color: #fff;
	background: #1E2D3D;
}

#nav button:hover,
#nav button:focus {
	opacity: 1;
	/* background: #1E2D3D; */
}

#aboutSideMain button {
	font-size: 16px;
}

#aboutSideMain .file-icon:before {
	font-size: 16px;
	margin-top: -1px;
}

#aboutSideMain button.my-triangle:hover,
#aboutSideMain button.my-triangle:focus {
	color: #fff;
	background: #1E2D3D;
}

#aboutSideMain .my-drop-down button {
	line-height: 15px;
}

#aboutSideMain .my-drop-down button.active,
#aboutSideMain .my-drop-down button:hover,
#aboutSideMain .my-drop-down button:focus {
	color: #fff;
}

#aboutSideMain button.my-triangle img.triangle,
#aboutSideMain .my-drop-down button img.chevon{
	-webkit-transition: transform 0.1s ease;
	-moz-transition: transform 0.1s ease;
	-ms-transition: transform 0.1s ease;
	-o-transition: transform 0.1s ease;
	transition: transform 0.1s ease;
}

#aboutSideMain .my-drop-down button.active img.chevon {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#aboutSideMain button.my-triangle.active img.triangle {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#aboutSideMain .my-drop-down,
#aboutSideMain .my-contacts,
#aboutSideMain .my-folder-content {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}


#aboutSideMain button.my-triangle.active + .my-drop-down,
#aboutSideMain button.my-triangle.active + .my-contacts,
#aboutSideMain .my-drop-down button.active + .my-folder-content {
	opacity: 1;
    height: auto;
}

#aboutSideMain button.my-triangle + .my-drop-down,
#aboutSideMain button.my-triangle + .my-contacts,
#aboutSideMain .my-drop-down button + .my-folder-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.my-contacts a:hover,
.my-contacts a:focus {
	color: #fff;
}

.text-content {
	white-space: pre-line;
}

footer a,
footer p {
	display: flex;
	align-items: center;
	height: inherit;
	position: relative;
	padding: 0 1.75rem;
	border-right: 1px solid #1e2d3d;
}

footer > a {
	border-right: none;
}

footer a:hover,
footer a:focus {
	color: #fff;
	background: #1E2D3D;
}

i::before {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 24px;
}

#aboutSideBar button.active,
#aboutSideBar button:hover,
#aboutSideBar button:focus {
	opacity: 1;
}

.border-top {
	border-top: 1px solid #1e2d3d;
}

.border-right {
	border-right: 1px solid #1e2d3d;
}

.border-bot {
	border-bottom: 1px solid #1e2d3d;
}

.border-left {
	border-left: 1px solid #1e2d3d;
}

.gradient-01 {
	background-image: linear-gradient(270deg,
			hsl(295deg 76% 51%) 0%,
			hsl(284deg 70% 73%) 26%,
			hsl(257deg 70% 86%) 39%,
			hsl(202deg 92% 90%) 50%,
			hsl(215deg 77% 81%) 61%,
			hsl(221deg 73% 70%) 74%,
			hsl(220deg 76% 51%) 100%);
	filter: blur(125px);
}


.css-blurry-gradient-blue {
	background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
	border-radius: 0 0 50% 50%;
	bottom: 25%;
	position: fixed;
	right: 5%;
	rotate: 10deg
}

.css-blurry-gradient-blue,
.css-blurry-gradient-green {
	filter: blur(70px);
	height: 300px;
	opacity: .5;
	width: 300px;
	z-index: 10
}

.css-blurry-gradient-green {
	background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
	border-radius: 0 50%;
	position: absolute;
	right: 30%;
	top: 20%
}


.hljs {
	color: #abb2bf !important;
	background: transparent !important;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
	color: #fea55f !important;
}

.hl,
.js-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
	color: #43D9AD !important;
}

@media (min-width: 1024px) {
	.css-blurry-gradient-blue {
		border-radius: 100% 50% 100% 0;
		bottom: 10%;
		height: 500px;
		opacity: .7;
		position: fixed;
		right: 10%;
		width: 500px
	}

	.css-blurry-gradient-green {
		border-radius: 100% 0 0;
		filter: blur(100px);
		height: 400px;
		opacity: .5;
		position: fixed;
		right: 35%;
		rotate: 20deg;
		top: 10%;
		width: 400px
	}
}

.grid-container {
	width: 50%;
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: fit-content;
}

.grid-cell {
	height: 24px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.grid-cell:nth-child(2n) {
	justify-content: center;
}

.grid-cell:nth-child(2n + 1) {
	margin-right: 15px;
	width: 20px;
}

.grid-cell:nth-child(2n):last-of-type {
	justify-content: end;
}

@media screen and (max-width:1023px) {
	#portfolio {
		min-height: calc(100vh - 2 * var(--mobile-window-margin));
	}
	
	body {
		padding: var(--mobile-window-margin);
	}
}